@import url('https://fonts.cdnfonts.com/css/druk-trial');

*{
  margin: 0;
  padding: 0;
  font-family: 'Druk Wide Trial', sans-serif;
}
.cabecalho{  
  display: flex;
  justify-content: center;
  height: 10%;
  width: 100%;
  backdrop-filter: blur(5px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.cabecalho-menu{  
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  gap: 100px;
}
.searchbar{
  display: flex;
  justify-content: center;
  flex-direction: row;
}
#query, form{
  all: unset;
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  align-items: center;
  font-size: 10px;
  height: 30px;
  width: 400px;
  border: none;
  border-radius: 15px;  
  color: white;
}
form{
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.25);
}
#BTNsearch{
  border: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  align-items: center;
  height: 30px;
  width: 30px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}
.navbar{
  display: flex;
  gap: 20px;
}
.icons{
  display: flex;
  gap: 10px;
}
.material-symbols-outlined{
  color: white;
}
.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;  
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  background-image: url(https://wallpapercave.com/wp/wp2555882.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  height: 100vh;
}
.card-login-container{
  display: flex;
  flex-direction: column;
  font-size: 18px;
  justify-content: flex-start;
  align-items: center;  
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.25);
  height: 500px;
  width: 500px;
  max-width: 400px;
  backdrop-filter: blur(5px);
}
.card-login-header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 100%;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.card-login-main{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  height: 80%;
  width: 100%;
  color: white;
}
.entrar-com-conta{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;  
  height: 50px;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.entrar-com-conta:hover{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;  
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.281);;
  border-bottom: 1px solid rgba(255, 255, 255, 0.438);
}
.logo{
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.card-login-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 100%;
  color: white;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}
.login-card{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 25px;
}
.inputLogin{
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 10px;
  width: 250px;
  height: 35px;
  border-radius: 10px;
  border: 1.5px solid rgb(174, 0, 255);
}
.usuario{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.senha{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.botao-login{
  border: none;
  height: 35px;
  width: 100px;
  border-radius: 10px;
  border: 1.5px solid rgb(174, 0, 255);
  cursor: pointer;
}
.card-carrinho-container{
  display: flex;
  flex-direction: row;
  font-size: 18px;
  justify-content: flex-start;
  align-items: center;  
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.25);
  height: 400px;
  width: 800px;
  backdrop-filter: blur(2px);  
}
.imagem-carrinho{
  display: flex;
  justify-content: center;
  border-radius: 10px 0px 0px 10px;
}
.valores{
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 400px;
}
.valores-header{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 25%;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);

}
.valores-header-itens{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 10px;
  color: white;
}
.valores-main{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 60%;
  width: 100%;
  gap: 50px;
  color: white;
  font-size: 2em;
  background-color: rgba(255, 255, 255, 0.021);
  backdrop-filter: blur(10px);  
}
.valores-div{
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.valor-dol{
  display: flex;  
  justify-content: center;
  align-items: center;
  color: white;
  gap: 10px;
}

.valorRS{
  font-size: 0.5em;
}

.valores-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
  width: 100%;
}
.btc{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.eth{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.botao-comprar{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.BTNComprar{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: none;
  width: 150px;
  height: 35px;
  background-color: rgb(174, 0, 255);
  color: white;
  border-radius: 10px;
}
main{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;  
  height: 90%;
  width: 100vw;
}
.swiper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  padding-left: 10px;  
}
.swiper-slide {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  justify-content: flex-start;
  align-items: center;  
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.25);
  height: 500px;
  max-width: 400px;
  backdrop-filter: blur(2px);
}
img{
  transition: all 600ms;  
}
.imgContainer{
  box-sizing: border-box;
  overflow: hidden;
  height: 70%;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}
.descContainer{
  display: flex;
  justify-content: flex-start;
  padding-top: 10px;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 40%;
  width: 90%;
  color: white;
  font-size: 10px;
  gap: 15px;  
}
.valorContainer{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: 15%;
  width: 100%;  
  font-size: 50px;  
}
.preco{
  font-size: 15px;
}
.vBTC{
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 100%;
  width: 100%;
  align-items: center;
  gap: 10px;
  font-size: 30px;
  color: white;
}
.vBTC:hover{
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 100%;
  width: 100%;
  align-items: center;
  gap: 10px;
  color: rgb(174, 0, 255);
  font-size: 30px;
  cursor: pointer;
  transition:all 600ms;
}
.vETH{
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 100%;
  width: 100%;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 30px;
}
.vETH:hover{
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 100%;
  width: 100%;
  align-items: center;
  gap: 10px;
  color: rgb(174, 0, 255);
  font-size: 30px;
  cursor: pointer;
  transition:all 600ms;
}
.btnContainer{
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 10%;
  width: 100%;
}
.BTNcomprar{
  border: none;
  width: 100%;
  background-color: white;
  color: rgb(174, 0, 255);
  border-radius: 0px 0px 10px 10px;  
  transition:all 600ms;
}
.BTNcomprar:hover{
  background-color: rgb(174, 0, 255);
  color: white;
  cursor: pointer;  
}
.rodape{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 100vw;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
}
.rodape-itens{    
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.404);
  gap: 5px;
}
p{
  font-size: 10px;
}
.rodape-alunos1{
  display: flex;
  flex-direction: column;
}
.rodape-alunos2{
  display: flex;
  flex-direction: column;
}
.alunos{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}